<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xwl.mybatishelper.mybatis.mapper.SysUserMapper">
    <insert id="save">
        INSERT INTO sys_user (id, account, username, id_number, password, dept_id, mac)
        VALUE (#{user.id}, #{user.account}, #{user.username}, #{user.idNumber}, #{user.password}, #{user.deptId}, #{user.mac});
    </insert>

    <update id="update">
        UPDATE sys_user SET username = #{vo.username}, id_number = #{vo.idNumber} WHERE account = #{vo.account}
    </update>

    <select id="listUsers" resultType="com.xwl.mybatishelper.mybatis.entity.SysUser">
        SELECT * FROM sys_user
    </select>

    <select id="getBy" resultType="com.xwl.mybatishelper.mybatis.entity.SysUser">
        SELECT * FROM sys_user WHERE id_number = #{enc_idNumber}
    </select>

    <select id="getVo" resultType="com.xwl.mybatishelper.mybatis.vo.OutVO">
        SELECT * FROM sys_user WHERE username = #{vo.username} AND id_number = #{vo.idNumber}
    </select>

    <select id="join" resultType="com.xwl.mybatishelper.mybatis.vo.OutVO">
        SELECT * FROM sys_user u
        JOIN sys_dept d ON u.dept_id = d.id
        WHERE d.id = #{deptId}
    </select>

    <select id="getMap" resultType="java.util.Map">
        SELECT * FROM sys_user
    </select>

    <select id="listByIdNumberSet" resultType="com.xwl.mybatishelper.mybatis.entity.SysUser">
        SELECT * FROM sys_user WHERE id_number IN
        <foreach collection="enc_idNumbers" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="listByIdNumberList" resultType="com.xwl.mybatishelper.mybatis.entity.SysUser">
        SELECT * FROM sys_user WHERE id_number IN
        <foreach collection="enc_idNumbers" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="listByPasswordAndIds" resultType="com.xwl.mybatishelper.mybatis.entity.SysUser">
        SELECT * FROM sys_user
        WHERE password = #{enc_password}
          AND id IN
        <foreach collection="ids" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="listByPasswordAndIdNumbers" resultType="com.xwl.mybatishelper.mybatis.entity.SysUser">
        SELECT * FROM sys_user
        WHERE password = #{enc_password}
          AND id_number IN
        <foreach collection="enc_idNumbers" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="notIn" resultType="com.xwl.mybatishelper.mybatis.entity.SysUser">
        SELECT * FROM sys_user WHERE id_number NOT IN
        <foreach collection="enc_idNumbers" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="listByUsernames" resultType="com.xwl.mybatishelper.mybatis.entity.SysUser">
        SELECT * FROM sys_user WHERE username IN
        <foreach collection="usernames" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

</mapper>
